<h1>Upload files netcoree</h1>

<form method="post" enctype="multipart/form-data">
    <label>Seleccione un fichero</label>    
    <input type="file" name="fichero" class="form-control"/>
    <br />
    <button class="btn btn-info">Subir fichero</button>
</form>

<h2>@ViewData["MENSAJE"]</h2>
<img src='@ViewData["URL"]'
style="width:150px;height:150px" />

<h2>@ViewData["URL"]</h2>