<h1>memoria distribuida</h1>

<a asp-controller="Caching"
   asp-action="MemoriaDistribuida"
   class="btn btn-danger">
    Actualizar pagina
</a>

<h2 style="color: purple">
    @ViewData["FECHA"]
</h2>
