<h1>Send mail net core</h1>

<form method="post" enctype="multipart/form-data">
    
    <label>Para: </label>
    <input type="text" name="para" class="form-control" />
    <label>Asunto: </label>
    <input type="text" name="asunto" class="form-control" />
    <label>Mensaje: </label>
    <input type="text" name="mensaje" class="form-control" />
    <label>Seleccione un fichero: </label>
    <input type="file" name="fichero" class="form-control" />
    <br />
    <button class="btn btn-success">Enviar</button>
</form>

<h2>@ViewData["MENSAJE"]</h2>